<div class="content-heading">
    <div>Mercadoria
        <small>Nova Mercadoria</small>
    </div>
</div>

<div class="card card-default">
    <div class="card-header">Mercadoria</div>
    <div class="card-body">
        <form [formGroup]="mercadoriaForm" class="form-validate form-horizontal"
            (submit)="submitForm($event, mercadoriaForm.value)">
            <fieldset>
                <div class="col-md-12">
                    <div class="form-row">
                        <div class="col-lg-6 mb-3">
                            <label>Descricao</label>
                            <input class="form-control" type="text" formControlName="Descricao"
                                [formControl]="mercadoriaForm.controls['Descricao']" placeholder="Descricao" />
                            <span class="text-danger"
                                *ngIf="mercadoriaForm.controls['Descricao'].hasError('required') && (mercadoriaForm.controls['Descricao'].dirty || mercadoriaForm.controls['Descricao'].touched)">Campo
                                Obrigatório</span>
                        </div>
                    </div>

                    <button class="btn btn-primary" type="submit">Enviar Formulario</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>