<div class="wrapper">
    <div class="block-center mt-4 wd-xl">
        <!-- START card-->
        <div class="card card-flat">
            <div class="card-body">
                <p class="text-center">
                    <a href="#"><img class="block-center rounded" src="assets/img/newlogo.png" alt="Image" /></a>
                </p>

                <p class="text-center font-weight-bold py-2">Informe os dados abaixo para realizar o cadastro.</p>

                <form [formGroup]="valForm" class="form-validate mb-3" role="form" name="registerForm" novalidate=""
                    (submit)="submitForm($event, valForm.value)">
                
                    <div class="form-group">
                        <div class="input-group with-focus">
                            <input class="form-control border-right-0" type="text" name="useranme"
                                placeholder="Nome de Usuário" autocomplete="off" formControlName="username"
                                required="" />
                            <div class="input-group-append">
                                <span class="input-group-text text-muted bg-transparent border-left-0">
                                    <em class="fa fa-user"></em>
                                </span>
                            </div>
                        </div>
                        <div class="text-danger"
                            *ngIf="valForm.controls['username'].hasError('required') && (valForm.controls['username'].dirty || valForm.controls['username'].touched)">
                            Campo Obrogatório</div>
                    </div>
                
                    <div class="form-group">
                        <div class="input-group with-focus">
                            <input class="form-control border-right-0" type="email" name="account_email"
                                placeholder="Email" autocomplete="off" formControlName="email" required="" />
                            <div class="input-group-append">
                                <span class="input-group-text text-muted bg-transparent border-left-0">
                                    <em class="fa fa-envelope"></em>
                                </span>
                            </div>
                        </div>
                        <div class="text-danger"
                            *ngIf="valForm.controls['email'].hasError('required') && (valForm.controls['email'].dirty || valForm.controls['email'].touched)">
                            Campo Obrigatório</div>
                        <div class="text-danger"
                            *ngIf="valForm.controls['email'].hasError('email') && (valForm.controls['email'].dirty || valForm.controls['email'].touched)">
                            Digite um Email válido</div>
                    </div>
                
                    <div class="form-group">
                        <div class="input-group with-focus">
                            <input class="form-control border-right-0" id="id-password" type="password" name="password"
                                placeholder="Senha" formControlName="password" [formControl]="valForm.get('password')" />
                            <div class="input-group-append">
                                <span class="input-group-text text-muted bg-transparent border-left-0">
                                    <em class="fa fa-lock"></em>
                                </span>
                            </div>
                        </div>
                        <div class="text-danger"
                            *ngIf="valForm.get('password').hasError('required') && (valForm.get('password').dirty || valForm.get('password').touched)">
                            Campo Obrogatório</div>
                        <div class="text-danger"
                            *ngIf="valForm.get('password').hasError('pattern') && (valForm.get('password').dirty || valForm.get('password').touched)">
                            Input should match 'a-zA-Z0-9' and 6-10 length</div>
                    </div>
                
                    <div class="form-group">
                        <div class="input-group with-focus">
                            <input class="form-control border-right-0" type="password" name="confirmPassword"
                                placeholder="Repita a Senha" formControlName="confirmPassword" [formControl]="valForm.get('confirmPassword')" />
                            <div class="input-group-append">
                                <span class="input-group-text text-muted bg-transparent border-left-0">
                                    <em class="fa fa-lock"></em>
                                </span>
                            </div>
                        </div>
                        <div class="text-danger"
                            *ngIf="valForm.get('confirmPassword').hasError('required') && (valForm.get('confirmPassword').dirty || valForm.get('confirmPassword').touched)">
                            Campo Obrogatório</div>
                        <div class="text-danger" *ngIf="valForm.get('confirmPassword').hasError('equalTo')">A senha não é a mesma.</div>
                    </div>
                
                    <div class="clearfix">
                        <div class="checkbox c-checkbox float-left mt0">
                            <label>
                                <input type="checkbox" required="" name="account_agreed"
                                    formControlName="accountagreed" />
                                <span class="fa fa-check"></span>Eu concordo com os <a href="#">termos</a>
                            </label>
                        </div>
                    </div>
                
                    <span class="text-danger"
                        *ngIf="valForm.controls['accountagreed'].hasError('required') && (valForm.controls['accountagreed'].dirty || valForm.controls['accountagreed'].touched)">
                        Você deve concordar com os termos</span>
                    <button class="btn btn-block btn-primary mt-3" type="submit">Criar conta</button>
                </form>

                <p class="pt-3 text-center">Já tenho uma conta?</p>
                <a class="btn btn-block btn-warning" [routerLink]="'/login'">Login</a>
            </div>
        </div>
        <!-- END card-->
        <div class="p-3 text-center">
            <span>&copy;</span>
            <span>{{ settings.getAppSetting('year') }}</span>
            <span class="mx-2">-</span>
            <span>{{ settings.getAppSetting('name') }}</span>
            <br />
            <span>{{ settings.getAppSetting('description') }}</span>
        </div>
    </div>
</div>