<div class="home-container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-xl-3 col-lg-4">
                <div class="text-center">
                    <img alt="Angular" class="img-fluid home-logo" src="assets/img/angular.png" />
                </div>
            </div>
            <div class="col-xl-9 col-lg-8 home-text">
                <h1 class="home-text-big">Frete Online</h1>
                <p class="lead">Encontre o frete perfeito para a sua carga
                    <br> <small>Venha conhecer nossa plataforma.</small>
                </p>
                <p><a class="btn btn-primary btn-lg" href="#" target="_blank">Conheça mais..</a></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="card b">
                <div class="card-header">
                    <h3>Solicitar Cadastro <br> <small>(Motorista)</small></h3>
                </div>
                <div class="card-body">
                    Seja um motorista. Solicite o seu cadastro na plataforma e seja um dos nossos motoristas.
                </div>
                <p class="text-center"><button class="btn btn-primary btn-lg" (click)="CadastroDeMotorista()">Testar Funcionalidade.</button></p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card b">
                <div class="card-header">
                    <h3>Realizar Cadastro <br> <small>(Cliente)</small></h3>
                </div>
                <div class="card-body">
                    Seja um cliente. Realize seu cadastro na plataforma e realize seu frete de rápida e fácil.
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card b">
                <div class="card-header">
                    <h3>Aprovar Cadastro <br> <small>(Administrador)</small></h3>
                </div>
                <div class="card-body">
                    O administrador poderá visualizar, aprovar ou recusar a solicitação do motorista.
                </div>
                <p class="text-center"><button class="btn btn-primary btn-lg" (click)="AprovarCadastro()">Testar Funcionalidade.</button></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="card b">
                <div class="card-header">
                    <h3>Manter Mercadoria <br> <small>(Administrador)</small></h3>
                </div>
                <div class="card-body">
                    Os tipos de mercadorias que serão aceitas nos fretes serão mantidas pelos administradores.
                </div>
                <p class="text-center"><button class="btn btn-primary btn-lg" (click)="ManterMercadoria()">Testar Funcionalidade.</button></p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card b">
                <div class="card-header">
                    <h3>Manter Categoria <br> <small>(Administrador)</small></h3>
                </div>
                <div class="card-body">
                    As categorias dos veículos cadastrados na plataforma serão mantidas pelos administradores.
                </div>
                <p class="text-center"><button class="btn btn-primary btn-lg" (click)="ManterCategoria()">Testar Funcionalidade.</button></p>
            </div>
        </div>
    </div>
</div>