<div class="home-container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-xl-3 col-lg-4">
                <div class="text-center">
                    <img alt="Angular" class="img-fluid home-logo" src="assets/img/angular.svg" />
                </div>
            </div>
            <div class="col-xl-9 col-lg-8 home-text">
                <h1 class="home-text-big">Buscador Online</h1>
                <p class="lead">Encontre aquilo que está precisando.
                    <br> <small>Venha conhecer nossa plataforma.</small>
                </p>
                <p><a class="btn btn-primary btn-lg" href="#" target="_blank">Conheça mais..</a></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="card b">
                <div class="card-header">
                    <h3>Solicitar Cadastro <br> <small>(Lojas)</small></h3>
                </div>
                <div class="card-body">
                    Seja um lojisra. Solicite o seu cadastro na plataforma e seja um dos nossos lojistas.
                </div>
                <p class="text-center"><button class="btn btn-primary btn-lg" (click)="CadastroDaLoja()">Testar Funcionalidade.</button></p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card b">
                <div class="card-header">
                    <h3>Realizar Cadastro <br> <small>(Cliente)</small></h3>
                </div>
                <div class="card-body">
                    Seja um cliente. Realize seu cadastro na plataforma e realize suas buscas rápido e fácil.
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card b">
                <div class="card-header">
                    <h3>Aprovar Cadastro <br> <small>(Administrador)</small></h3>
                </div>
                <div class="card-body">
                    O administrador poderá visualizar, aprovar ou recusar a solicitação de um lojista.
                </div>
                <p class="text-center"><button class="btn btn-primary btn-lg" (click)="AprovarCadastro()">Testar Funcionalidade.</button></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="card b">
                <div class="card-header">
                    <h3>Definir Cota <br> <small>(Administrador)</small></h3>
                </div>
                <div class="card-body">
                    Atribuir e alterar as cotas dos lojistas.
                </div>
                <p class="text-center"><button class="btn btn-primary btn-lg" (click)="DefinirCota()">Testar Funcionalidade.</button></p>
            </div>
        </div>
    </div>
</div>