<div class="wrapper">
    <div class="page-header page-header-small" filter-color="white">
        <div class="page-header-image rellax-header" data-rellax-speed="-7"
            style="background-image: url('assets/img/bg19.jpg')">
        </div>
        <div class="container">
            <div class="content-center brand">
                <h2 class="title">Solicitação de cadastros</h2>
                <h4 class="description text-white">
                    Olha toda essa galera que quer fazer parte do seu time!
                </h4>
            </div>
        </div>
    </div>

    <div class="main">
        <div class="contact-content">
            <div class="container">
                <div class="row section section-about-us">
                    <div class="col-xl-6 col-lg-7 ml-auto mr-auto" *ngFor="let p of cadastros;">
                        <div class="card card-profile">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="card-image">
                                        <a href="#pablo"> <img class="img" src="assets/img/default-avatar.png"></a>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="card-body">
                                        <h3 class="card-title">{{p.empresa}}</h3>
                                        <p class="card-description">
                                            <strong>Representante: </strong><br>{{p.representante}}
                                            <br><strong>Email: </strong><br>{{p.email}}
                                            <br><strong>Cnpj: </strong><br>{{p.cnpj}}
                                            <br><strong>Contato: </strong><br>{{p.telefone}}
                                        </p>
                                        <div class="text-center">
                                            <button type="button" class="btn btn-xs btn-primary"
                                                (click)="AprovarCadastro(true, p)">Aceitar</button>
                                            <button type="button" class="btn btn-xs btn-danger"
                                                (click)="RecusarCadastro(false, p)">Recusar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>