<div _ngcontent-c7="" class="row">
    <div _ngcontent-c7="" class="col-md-4">
        <div _ngcontent-c7="" class="card card-background card-raised" data-background-color=""
            style="background-image: url('assets/img/bg24.jpg')">
            <div _ngcontent-c7="" class="info">
                <div _ngcontent-c7="" class="icon icon-white"><i _ngcontent-c7=""
                        class="now-ui-icons shopping_delivery-fast"></i></div>
                <div _ngcontent-c7="" class="description">
                    <h4 _ngcontent-c7="" class="info-title">1 Day Delivery </h4>
                    <p _ngcontent-c7="">Divide details about your product or agency work into parts. Write a few lines
                        about each one. A paragraph describing a feature will be enough.</p><a _ngcontent-c7=""
                        class="ml-3" href="#pablo">Find more...</a>
                </div>
            </div>
        </div>
    </div>
    <div _ngcontent-c7="" class="col-md-4">
        <div _ngcontent-c7="" class="card card-background card-raised" data-background-color=""
            style="background-image: url('assets/img/bg28.jpg')">
            <div _ngcontent-c7="" class="info">
                <div _ngcontent-c7="" class="icon icon-white"><i _ngcontent-c7=""
                        class="now-ui-icons business_badge"></i></div>
                <div _ngcontent-c7="" class="description">
                    <h4 _ngcontent-c7="" class="info-title">Refund Policy</h4>
                    <p _ngcontent-c7="">Divide details about your product or agency work into parts. Write a few lines
                        about each one. Very good refund policy just for you.</p><a _ngcontent-c7="" href="#pablo">Find
                        more...</a>
                </div>
            </div>
        </div>
    </div>
    <div _ngcontent-c7="" class="col-md-4">
        <div _ngcontent-c7="" class="card card-background card-raised" data-background-color=""
            style="background-image: url('assets/img/bg25.jpg')">
            <div _ngcontent-c7="" class="info">
                <div _ngcontent-c7="" class="icon"><i _ngcontent-c7="" class="now-ui-icons ui-2_favourite-28"></i></div>
                <div _ngcontent-c7="" class="description">
                    <h4 _ngcontent-c7="" class="info-title">Popular Item</h4>
                    <p _ngcontent-c7="">Share a floor plan, and we'll create a visualization of your room. A paragraph
                        describing a feature will be enough. This is a popular item for you.</p><a _ngcontent-c7=""
                        class="ml-3" href="#pablo">Find more...</a>
                </div>
            </div>
        </div>
    </div>
</div>