<div class="content-heading">
    <div>Cota
        <small>Definir Cota</small>
    </div>
</div>

<div class="card card-default">
    <div class="card-header">Definir Cota da Loja</div>
    <div class="card-body">
        <form [formGroup]="cotaForm" class="form-validate form-horizontal"
            (submit)="submitForm($event, cotaForm.value)">
            <fieldset>
                <div class="col-md-12">
                    <div class="form-row">
                        <div class="col-lg-6 mb-3">
                            <label>Quantidade</label>
                            <input class="form-control" type="text" formControlName="Quantidade"
                                [formControl]="cotaForm.controls['Quantidade']" placeholder="Quantidade" />
                            <span class="text-danger"
                                *ngIf="cotaForm.controls['Quantidade'].hasError('required') && (cotaForm.controls['Quantidade'].dirty || cotaForm.controls['Quantidade'].touched)">Campo
                                Obrigatório</span>
                        </div>
                    </div>

                    <button class="btn btn-primary" type="submit">Enviar Formulario</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>