<div class="wrapper">
    <div class="page-header clear-filter" filter-color="white">
        <div class="page-header-image rellax-header" data-rellax-speed="-7"
            style="background-image: url('assets/img/header.jpg');">

        </div>
        <div class="container">
            <div class="content-center brand">
                <img class="img" src="assets/img/logo.png" alt="">
                <h1 class="h1-seo">Menor Preço da Cidade</h1>
                <hr>
                <div class="row">
                    <div class="col-md-6">
                        <h3>Encontre aqui o que você procura. <br> Rápido, fácil e com menor preço garantido.</h3>
                    </div>
                    <div class="col-md-6">
                        <h4>
                            Faça parte da nossa equipe e seja um lojista. <br>
                            <a class="btn btn-neutral" href="/solicitarcadastro">
                                Faça sua solicitação aqui!
                            </a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main">
        <div class="section">
            <div class="container">
                <h2 class="section-title">Encontre o que você precisa</h2>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-lg-4 col-md-6">
                                <div class="card card-product card-plain">
                                    <div class="card-image"><a href="#"><img alt="..." src="assets/img/polo.jpg"></a>
                                    </div>
                                    <div class="card-body"><a href="#">
                                            <h4 class="card-title">Polo Ralph Lauren</h4>
                                        </a>
                                        <p class="card-description"> Impeccably tailored in Italy from
                                            lightweight navy wool. </p>
                                        <div class="card-footer">
                                            <div class="price-container"><span _ngcontent-c2="" class="price"> €
                                                    300</span></div><button _ngcontent-c2=""
                                                class="btn btn-danger btn-neutral btn-icon btn-round pull-right"
                                                ngbtooltip="Remove from wishlist" placement="top"><i _ngcontent-c2=""
                                                    class="now-ui-icons ui-2_favourite-28"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="card card-product card-plain">
                                    <div class="card-image"><a href="#"><img alt="..." src="assets/img/polo.jpg"></a>
                                    </div>
                                    <div class="card-body"><a href="#">
                                            <h4 class="card-title">Tom Ford</h4>
                                        </a>
                                        <p class="card-description"> Immaculate tailoring is TOM FORD's
                                            forte. </p>
                                        <div class="card-footer">
                                            <div class="price-container"><span _ngcontent-c2="" class="price"> €
                                                    879</span></div><button _ngcontent-c2=""
                                                class="btn btn-neutral btn-icon btn-round pull-right"
                                                ngbtooltip="Add to wishlist" placement="top"><i _ngcontent-c2=""
                                                    class="now-ui-icons ui-2_favourite-28"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="card card-product card-plain">
                                    <div class="card-image"><a href="#"><img alt="..." src="assets/img/polo.jpg"></a>
                                    </div>
                                    <div class="card-body"><a href="#">
                                            <h4 class="card-title">Wooyoungmi</h4>
                                        </a>
                                        <p class="card-description"> Dark-grey slub wool, pintucked
                                            notch lapels. </p>
                                        <div class="card-footer">
                                            <div class="price-container"><span _ngcontent-c2="" class="price">€
                                                    555</span></div><button _ngcontent-c2=""
                                                class="btn btn-neutral btn-icon btn-round pull-right"
                                                ngbtooltip="Add to wishlist" placement="top"><i _ngcontent-c2=""
                                                    class="now-ui-icons ui-2_favourite-28"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="card card-product card-plain">
                                    <div class="card-image"><a href="#"><img alt="..." src="assets/img/polo.jpg"></a>
                                    </div>
                                    <div class="card-body"><a href="#">
                                            <h4 class="card-title">Thom Sweeney</h4>
                                        </a>
                                        <p class="card-description"> It's made from lightweight grey
                                            wool woven. </p>
                                        <div class="card-footer">
                                            <div class="price-container"><span _ngcontent-c2="" class="price"> €
                                                    680</span></div><button _ngcontent-c2=""
                                                class="btn btn-neutral btn-icon btn-round pull-right"
                                                ngbtooltip="Add to wishlist" placement="top"><i _ngcontent-c2=""
                                                    class="now-ui-icons ui-2_favourite-28"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="card card-product card-plain">
                                    <div class="card-image"><a href="#"><img alt="..." src="assets/img/polo.jpg"></a>
                                    </div>
                                    <div class="card-body"><a href="#">
                                            <h4 class="card-title">Kingsman</h4>
                                        </a>
                                        <p class="card-description"> Crafted from khaki cotton and
                                            fully canvassed. </p>
                                        <div class="card-footer">
                                            <div class="price-container"><span _ngcontent-c2="" class="price"> €
                                                    725</span></div><button _ngcontent-c2=""
                                                class="btn btn-neutral btn-icon btn-round pull-right"
                                                ngbtooltip="Remove from wishlist" placement="top"><i _ngcontent-c2=""
                                                    class="now-ui-icons ui-2_favourite-28"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="card card-product card-plain">
                                    <div class="card-image"><a href="#"><img alt="..." src="assets/img/polo.jpg"></a>
                                    </div>
                                    <div class="card-body"><a href="#">
                                            <h4 class="card-title">Boglioli</h4>
                                        </a>
                                        <p class="card-description"> Masterfully crafted in Northern
                                            Italy. </p>
                                        <div class="card-footer">
                                            <div class="price-container"><span _ngcontent-c2="" class="price">€
                                                    699</span></div><button _ngcontent-c2=""
                                                class="btn btn-neutral btn-icon btn-round pull-right"
                                                ngbtooltip="Add to wishlist" placement="top"><i _ngcontent-c2=""
                                                    class="now-ui-icons ui-2_favourite-28"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 ml-auto mr-auto"><button _ngcontent-c2=""
                                    class="btn btn-primary btn-round">Load more...</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <h2 class="section-title">Latest Offers</h2>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card card-product card-plain">
                            <div class="card-image"><img class="img rounded" src="assets/img/saint-laurent.jpg"></div>
                            <div _ngcontent-c3="" class="card-body">
                                <h4 _ngcontent-c3="" class="card-title"><a _ngcontent-c3="" href="#pablo">Saint
                                        Laurent</a></h4>
                                <p _ngcontent-c3="" class="card-description">The structured shoulders and sleek
                                    detailing ensure a sharp silhouette. Team it with a silk pocket square and leather
                                    loafers.</p>
                                <div _ngcontent-c3="" class="card-footer">
                                    <div _ngcontent-c3="" class="price-container"><span _ngcontent-c3=""
                                            class="price price-old"> €1,430</span><span _ngcontent-c3=""
                                            class="price price-new"> €743</span></div>
                                    <div _ngcontent-c3="" class="stats stats-right"><button _ngcontent-c3=""
                                            class="btn btn-icon btn-neutral" data-original-title="Saved to Wishlist"
                                            ngbtooltip="" placement="top" type="button"><i _ngcontent-c3=""
                                                class="now-ui-icons ui-2_favourite-28"></i></button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-product card-plain">
                            <div class="card-image"><img class="img rounded" src="assets/img/saint-laurent.jpg"></div>
                            <div _ngcontent-c3="" class="card-body">
                                <h4 _ngcontent-c3="" class="card-title"><a _ngcontent-c3="" href="#pablo">Saint
                                        Laurent</a></h4>
                                <p _ngcontent-c3="" class="card-description">The structured shoulders and sleek
                                    detailing ensure a sharp silhouette. Team it with a silk pocket square and leather
                                    loafers.</p>
                                <div _ngcontent-c3="" class="card-footer">
                                    <div _ngcontent-c3="" class="price-container"><span _ngcontent-c3=""
                                            class="price price-old"> €1,430</span><span _ngcontent-c3=""
                                            class="price price-new"> €743</span></div>
                                    <div _ngcontent-c3="" class="stats stats-right"><button _ngcontent-c3=""
                                            class="btn btn-icon btn-neutral" data-original-title="Saved to Wishlist"
                                            ngbtooltip="" placement="top" type="button"><i _ngcontent-c3=""
                                                class="now-ui-icons ui-2_favourite-28"></i></button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-product card-plain">
                            <div class="card-image"><img class="img rounded" src="assets/img/saint-laurent.jpg"></div>
                            <div _ngcontent-c3="" class="card-body">
                                <h4 _ngcontent-c3="" class="card-title"><a _ngcontent-c3="" href="#pablo">Saint
                                        Laurent</a></h4>
                                <p _ngcontent-c3="" class="card-description">The structured shoulders and sleek
                                    detailing ensure a sharp silhouette. Team it with a silk pocket square and leather
                                    loafers.</p>
                                <div _ngcontent-c3="" class="card-footer">
                                    <div _ngcontent-c3="" class="price-container"><span _ngcontent-c3=""
                                            class="price price-old"> €1,430</span><span _ngcontent-c3=""
                                            class="price price-new"> €743</span></div>
                                    <div _ngcontent-c3="" class="stats stats-right"><button _ngcontent-c3=""
                                            class="btn btn-icon btn-neutral" data-original-title="Saved to Wishlist"
                                            ngbtooltip="" placement="top" type="button"><i _ngcontent-c3=""
                                                class="now-ui-icons ui-2_favourite-28"></i></button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer" data-background-color="black">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a href="https://www.creative-tim.com">
                            Creative Tim
                        </a>
                    </li>
                    <li>
                        <a href="https://www.creative-tim.com/about-us">
                            About Us
                        </a>
                    </li>
                    <li>
                        <a href="http://blog.creative-tim.com">
                            Blog
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md">
                            MIT License
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                &copy;
                {{data | date: 'yyyy'}}, Designed by
                <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by
                <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
            </div>
        </div>
    </footer>
</div>