<div class="content-heading">
    <div>Cadastro
        <small>Solcitação de Cadastro do Motorista</small>
    </div>
</div>

<!-- START row-->
<div class="row">
    <div class="col-md-6">
        <!-- START card-->
        <!-- END card-->
    </div>
    <div class="col-md-6">
        <!-- START card-->
        <div class="card card-default">
            <div class="card-header">Solicitar Cadastro</div>
            <div class="card-body">
                <form [formGroup]="motoristaForm" class="form-validate form-horizontal" (submit)="submitForm($event, motoristaForm.value)"
                    novalidate="">
                    <div class="form-group row">
                        <label class="col-xl-3 col-form-label">Nome</label>
                        <div class="col-xl-9">
                            <input class="form-control" type="text" formControlName="Nome" [formControl]="motoristaForm.controls['Nome']"
                                placeholder="Nome" />
                            <span class="text-danger" *ngIf="motoristaForm.controls['Nome'].hasError('required') && (motoristaForm.controls['Nome'].dirty || motoristaForm.controls['Nome'].touched)">Campo
                                Obrigatório</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-xl-3 col-form-label">Sobrenome</label>
                        <div class="col-xl-9">
                            <input class="form-control" type="text" formControlName="Sobrenome" [formControl]="motoristaForm.controls['Sobrenome']"
                                placeholder="Sobrenome" />
                            <span class="text-danger" *ngIf="motoristaForm.controls['Sobrenome'].hasError('required') && (motoristaForm.controls['Sobrenome'].dirty || motoristaForm.controls['Sobrenome'].touched)">Campo
                                Obrigatório</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-xl-3 col-form-label">Telefone</label>
                        <div class="col-xl-9">
                            <input class="form-control" type="text" formControlName="Telefone" [formControl]="motoristaForm.controls['Telefone']"
                                placeholder="Telefone" />
                            <span class="text-danger" *ngIf="motoristaForm.controls['Telefone'].hasError('required') && (motoristaForm.controls['Telefone'].dirty || motoristaForm.controls['Telefone'].touched)">Campo
                                Obrigatório</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-xl-3 col-form-label">Email</label>
                        <div class="col-xl-9">
                            <input class="form-control" type="email" formControlName="Email" [formControl]="motoristaForm.controls['Email']"
                                placeholder="Email" />
                            <span class="text-danger" *ngIf="motoristaForm.controls['Email'].hasError('required') && (motoristaForm.controls['Email'].dirty || motoristaForm.controls['Email'].touched)">Campo
                                Obrigatório</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-xl-3 col-form-label">Cidade</label>
                        <div class="col-xl-9">
                            <input class="form-control" type="text" formControlName="Cidade" [formControl]="motoristaForm.controls['Cidade']"
                                placeholder="Cidade" />
                            <span class="text-danger" *ngIf="motoristaForm.controls['Cidade'].hasError('required') && (motoristaForm.controls['Cidade'].dirty || motoristaForm.controls['Cidade'].touched)">Campo
                                Obrigatório</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-xl-3 col-form-label"></label>
                        <div class="col-xl-9">
                            <input class="form-check-input" type="checkbox" formControlName="Check" [formControl]="motoristaForm.controls['Check']" required="" />
                            <label class="form-check-label">Concordo com termo e condições.</label>
                            <span class="text-danger" *ngIf="motoristaForm.controls['Check'].hasError('required') && (motoristaForm.controls['Check'].dirty || motoristaForm.controls['Check'].touched)">Aceite os termos de uso.</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-xl-3 col-form-label"></label>
                        <div class="col-xl-9">
                            <button class="btn btn-sm btn-secondary" type="submit">Enviar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- END card-->
    </div>
</div>
<!-- END row-->